/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* COLOR VARIABLES */
:root {
    --primary-color: #1699b0;
    --error-color:#d60b0b;
    --link-color: #07a9f9;
    --secondary-color: #535354;
    --background-color: #EFEFEF;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --white-color: #FFF;
    --black-color: #000;
    --input-border-color: #E3E4E6;
    --transition-3s: 0.3s;
}

.error {
    color: white;
    font-size: 25px;
    margin-right: 2px;
   }


.tooltip-error {
 visibility: hidden;
 font-size: 13px;
 color: white;
 padding-left: 5px;
 padding-top: 7px;
 justify-content: left;
 display: flex;
 z-index: 2;
 position: absolute;
 top:15%;
 right: -400px;
 background-color: var(--error-color);
 height: 40px;
 width: 350px;
}

.tooltip-error-bd {
    visibility: hidden;
    font-size: 13px;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    justify-content: left;
    display: flex;
    z-index: 3;
    position: absolute;
    top:15%;
    right: -400px;
    background-color: var(--error-color);
    height: 55px;
    width: 350px;
}

/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* REUSABLE ELEMENTS */
a{
    text-decoration: none;
    color: var(--link-color);
    transition: var(--transition-3s);
}

a:hover{
    text-decoration: underline;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

/* WRAPPER */
.login-pannel,
.register-pannel{
    position: relative;
    width: 430px;
    height: 450px;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 100px 32px 64px;
    border: 1px solid transparent;
    box-shadow: 0 8px 15px var(--shadow-color);
    transition: var(--transition-3s);
}

.register-pannel{
    height: 570px;
}

/* FORM HEADER */
.form-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 80px;
}

.form-header::before, .form-header::after{
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
}


.title-login, .title-register{
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%,-50%);
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
    transition: var(--transition-3s);
}

/* FORMS */
.login-form, .register-form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    transition: var(--transition-3s);
}


/* INPUT FIELDS */
.input-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--black-color);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 55px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    outline: none;
    transition: var(--transition-3s);
}
.input-field:focus{
    border: 1px solid var(--primary-color);
}

.input-field.error {
    border-color: var(--error-color);
  }

  .input-field.error ~ .label,
  .input-field.error:not(:placeholder-shown) ~ .label {
    color: var(--error-color);
  }

#see_icon:hover,
#see_icon_conf:hover{
 cursor: pointer;
}

.label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: var(--secondary-color);
    transition: 0.2s;
    cursor: text;
}
.input-field:focus ~ .label,
.input-field:not(:placeholder-shown) ~ .label{
    top: 0;
    font-size: 14px;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 0 10px;
}


.icon{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--secondary-color);
}
/* FORGOT PASSWORD & TERMS AND CONDITIONS */
.form-cols{
    margin-top: -12px;
    display: flex;
    justify-content: right;
    font-size: 14px;
    margin-bottom: 40px;
}

/* SUBMIT BUTTON */
.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: var(--transition-3s);
}
.btn-submit:hover{
    gap: 5px;
    border-radius: 10px;
}
.btn-submit i{
    font-size: 20px;
}
/* SWITCH FORM */
.switch-form{
    text-align: center;
}
.switch-form a{
    font-weight: 500;
}

/* RESPONSIVE STYLES */
@media only screen and (max-width: 564px){
    .wrapper{
        margin: 20px;
    }
}